/* ==========================
   NAVBAR
========================== */

.custom-navbar{

    background:#0f172a;

    padding:15px 0;

    transition:.3s;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* تنسيق كلمة MY */
.logo-my {
    color: #ffffff; /* لون أبيض */
    font-weight: 300; /* وزن خفيف */
}

/* تنسيق كلمة PORTFOLIO */
.logo-portfolio {
    color: #38bdf8; /* لون أزرق لتمييز الجزء الثاني */
    font-weight: 800; /* وزن ثقيل */
}

/* تأثير بسيط عند التحويم */
.navbar-brand:hover .logo-portfolio {
    color: #ffffff;
    transition: 0.3s;
}

.nav-link{

    color:white !important;

    margin-left:15px;

    font-weight:500;

    transition:.3s;

}

.nav-link:hover{

    color:#38bdf8 !important;

}

.nav-link.active{

    color:#38bdf8 !important;

}
/* ==========================
   MOBILE NAVBAR FIX
========================== */
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #0f172a; /* نفس لون الناف بار */
        padding: 20px;
        margin-top: 15px;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }

    .nav-link {
        margin-left: 0;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}